@import "defaultStyleNumbers";

.welcomeModal {
  :focus-visible {
    outline: none;
  }
}

.welcomeScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eaeaea;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: $defaultPadding;
  :focus-visible {
    outline: none;
  }
}